@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .font-math {
    font-family: "Cambria Math", "Times New Roman", serif;
  }
}

.math-content {
  font-family: "Cambria Math", "Times New Roman", serif;
}

/* Tùy chỉnh thanh cuộn siêu nhỏ để không chiếm không gian */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
